.footer
	font-family: "Poppins", sans-serif
	color: #fff
	font-size: 24px
	padding-top: 101px
	&-copyright
	&-menu
		max-width: 516px
	&-items
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		background: #FFA902
		padding-top: 61px
		padding-left: 30px
		padding-right: 47px
		padding-bottom: 47px

@media only screen and (max-width: 1199px)
	.footer

@media only screen and (max-width: 991px)
	.footer
	
@media only screen and (max-width: 767px)
	.footer

@media only screen and (max-width: 575px)
	.footer