@import "reset"
@import "fonts"
@import "variables"
@import "typography"

@import "header"
@import "footer"
@import "home/home"

@import "components"
@import "sections/sections"
@media only screen and (max-width: 1920px)
  .container
    max-width: 1172px
  .inactive
    display: block
@media only screen and (max-width: 1919px)
  .inactive
    display: none
  .instagram
    &-photos
      justify-content: space-around
@media only screen and (max-width: 1599px)
  .container
    max-width: 976px
@media only screen and (max-width: 1399px)
  .container
    max-width: 854px
  .header
    &-icons
      display: none
    &-burger
      display: block

@media only screen and (max-width: 1199px)
  .container
    max-width: 732px
@media only screen and (max-width: 991px)
  .container
    max-width: 605px
@media only screen and (max-width: 767px)
  .container
    max-width: 468px
@media only screen and (max-width: 575px)
  .container
    max-width: 351px

.header
  &-main
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/header/background.png")
    background-size: cover

.menu
  margin: 0 auto
  font-family: 'Poppins', sans-serif
  font-size: 20px
  color: #fff

.content
  &-title
    padding-top: 100px
    margin: 0 auto
    text-align: center
    font-family: 'Poppins', sans-serif
    font-weight: 600
    font-size: 36px
.swiper
  height: 300px
.position-relative
  padding-top: 50px
.swiper-button-next
  top: 48%
  right: -78px
  display: block
.swiper-button-prev
  top: 48%
  left: -98px
  display: block
.swiper-button-next:after, .swiper-button-prev:after
  content: none
.centered
  width: 100%
  text-align: center
  font-family: "Poppins", sans-serif
  font-style: normal
  font-weight: 500
  font-size: 18px
  color: #fff
  position: absolute
  top: 37%
  left: 53%
  transform: translate(-50%, -50%)
.swiper-pagination-bullet
  width: 18px
  height: 18px

.pagination
  padding-top: 50px












