@import "reset"
@import "fonts"
@import "variables"
@import "typography"

@import "sections/explores"
@import "sections/footer"
@import "sections/form"
@import "sections/aboutPage"
@import "sections/blog"
@import "sections/instagram"
@import "sections/example"
@import "sections/cards_aboutMePage"
@import "sections/category"
@import "sections/page"
@import "sections/post"
@import "sections/recent"
@import "sections/video"
@import "sections/slider"
@import "sections/sidebar"
@import "sections/search"
@import "sections/header"
@import "components/notification"
@import "components/proposition"
@import "components/icon"
@import "components/pagination"
@import "components/close"
@import "single"
@import "swiper"
@import "error"

a
  color: #fff
.background
  height: 100vh
  width: 100%
  position: absolute
  z-index: -3
  &-gradient
    height: 100vh
    width: 100%
    position: absolute
    z-index: -1
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6))
  img
    z-index: -2
    height: 100%
    width: 100%
    object-fit: cover
.top
  height: 100vh
.content
  &-title
    margin: 0 auto 50px
    text-align: center
    font-family: 'Poppins', sans-serif
    font-weight: 600
    font-size: 36px
.position-relative
  padding-top: 100px
.centered
  width: 100%
  text-align: center
  font-family: "Poppins", sans-serif
  font-style: normal
  font-weight: 500
  font-size: 18px
  color: #fff
  position: absolute
  top: 37%
  left: 53%
  transform: translate(-50%, -50%)

@media only screen and (max-width: 1920px)
  .container
    max-width: 1172px
  .inactive
    display: block
@media only screen and (max-width: 1919px)
  .container
@media only screen and (max-width: 1599px)
  .container
    max-width: 976px
@media only screen and (max-width: 1399px)
  .container
    max-width: 854px

@media only screen and (max-width: 1199px)
  .container
    max-width: 732px
@media only screen and (max-width: 991px)

  .swiper-button-next, .swiper-button-prev
    display: none
  .container
    max-width: 605px
@media only screen and (max-width: 767px)
  .container
    max-width: 468px
  .content
    &-title
      font-size: 28px
@media only screen and (max-width: 575px)
  .container
    max-width: 351px
  .content
    &-title
      font-size: 20px










