.video
  max-height: 794px
  background: url("../../img/home/video/background.png")
  &-content
    justify-items: flex-end
  &-title
    padding-top: 192px
    text-align: center
    font-family: Poppins, sans-serif
    font-size: 36px
    font-weight: 600
    color: #FFF
  &-description
    padding-top: 33px
    margin: 0 auto
    max-width: 712px
    text-align: center
    font-family: Poppins, sans-serif
    font-size: 15px
    font-weight: 400
    color: #FFF
  &-button
    padding-top: 77px
    text-align: center
  &-subtitle
    padding-bottom: 153px
    padding-top: 11px
    text-align: center
    font-family: Poppins, sans-serif
    font-size: 36px
    font-weight: 500
    color: #FFF